.navbar {
    background-color: #b16dca;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
}
.nav-left {
    display: flex;
    align-items: start;
    justify-content: start;
}

.nav-button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}